<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>Student Affairs System | </title>

  </head>

  <style media="screen">
    #school{
      background-color: powderblue;
      border-radius: 10px;
    }
    #academic{
      margin-left: 10px;
      width: 314px;
      height: 33px;
    }
    #data{
      margin-left: 180px;
    }
  </style>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affairs</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">


            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="background-color: powderblue; color: black;">
                  <div class="x_title">
                    <h2> Add Subject </h2>
                    <div class="clearfix"></div>
                  </div>
                  <form action="/admin/users/addSub" method="post" class="form-horizontal form-label-left" novalidate>

                    <div class="col-md-8 col-sm-6 col-xs-12 profile_left" id="data">

                      <div class="item form-group" id="data">

                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="major">Major <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <select class="optional form-control col-md-7 col-xs-12" id="major" name="major" style="height: 35px" required="required">
                            <option value=""><-- Select Major --></option>
                            <option value="Civil">Civil</option>
                            <option value="EC">EC</option>
                            <option value="EP">EP</option>
                            <option value="IT">IT</option>
                            <option value="MC">MC</option>
                            <option value="MP">MP</option>
                          </select>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Year <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <select class="optional form-control col-md-7 col-xs-12" name="s_year" style="height: 35px" required="required">
                            <option value=""><-- Select Year --></option>
                            <option value="1BE">First Year</option>
                            <option value="2BE">Second Year</option>
                            <option value="3BE">Third Year</option>
                            <option value="4BE">Forth Year</option>
                            <option value="5BE">Five Year</option>
                            <option value="6BE">Sixth Year</option>
                          </select>
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subject">Subject <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input id="sub_name" class="form-control col-md-7 col-xs-12" name="sub_name" placeholder="Enter Subject Name" required="required" type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sub_code">Subject Code <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <input id="sub_code" class="form-control col-md-7 col-xs-12" name="sub_code" placeholder="Enter Subject Code" required="required" type="text">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="center">
                          <button type="submit" class="btn btn-success">Add</button>
                        </div>
                      </div>

                    </div>

                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- script content -->
    <% include ../partial/script %>
    <!-- /script content -->

  </body>

</html>
