<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partial/head %>

    <title>Student Affair | </title>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affair</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="x_title">
            <h5><b><a href="/">Home</a> > Department > <a href="/admin/users/C"> Civil Department </a> </a> </b></h5>
            <div class="clearfix"></div>
          </div>

          <div class="">
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Civil Department </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <h4>Head of Department</h4>
                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 5%"> No </th>
                          <th style="width: 15%"> Years </th>
                          <th style="width: 10%"> Total Student </th>
                          <th style="width: 30%"> Family Teacher</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr href="/cfirst">
                          <td>1</td>
                          <td>
                            <a href="/admin/users/list">First Year</a>
                            <br />
                            <small>1 BE-C</small>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>
                            <a href="./second_C">Second Year</a>
                            <br />
                            <small>2 BE-C</small>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>
                            <a href="./third_C">Third Year</a>
                            <br />
                            <small>3 BE-C</small>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>
                            <a href="./forth_C">Fourth Year</a>
                            <br />
                            <small>4 BE-C</small>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <a>Fifth Year</a>
                            <br />
                            <small>5 BE-C</small>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>
                            <a>Sixth year</a>
                            <br />
                            <small>6 BE-C</small>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- script content -->
    <% include ../../partial/script %>
    <!-- /script content -->
  </body>
</html>
