<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partial/head %>

    <title>Student Affair | </title>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affair</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Electronic Conmmunication Department </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%"> No </th>
                          <th style="width: 20%"> Years </th>
                          <th> Total Student </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a>First Year</a>
                            <br />
                            <small>1 BE-IT</small>
                          </td>
                          <td>98</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>
                            <a>Second Year</a>
                            <br />
                            <small>2 BE-IT</small>
                          </td>
                          <td>64</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>
                            <a>Third Year</a>
                            <br />
                            <small>3 BE-IT</small>
                          </td>
                          <td>55</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>
                            <a>Fourth Year</a>
                            <br />
                            <small>4 BE-IT</small>
                          </td>
                          <td>45</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <a>Fifth Year</a>
                            <br />
                            <small>5 BE-IT</small>
                          </td>
                          <td>40</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>
                            <a>Sixth year</a>
                            <br />
                            <small>6 BE-IT</small>
                          </td>
                          <td>35</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>
