<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sample Test</title>
  </head>
  <body>
    <h1>Sample Test</h1>
    <form id="signup" action="/signup" method="post">
      Name: <input type="text" name="name" value="" required><p>
      Email: <input type="email" name="email" id="email" value="" required><p>
      Password: <input type="password" name="password" value="" required><p>
      Confirm Password: <input type="password" name="repassword" value="" required><p>
      <input type="button" id="save" name="" value="Signup">
    </form>
  </body>
</html>
