<div class="profile clearfix">
  <div class="profile_pic">
    <img src="images/picture.jpg" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <h2>Staff Name</h2>
    <h6>Administrator</h6>
  </div>
  <div class="clearfix"></div>
</div>
