<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="../home"><i class="fa fa-home"></i> Home </a>
      </li>

      <li><a><i class="fa fa-edit"></i> Register New Student <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="../new">New Student</a></li>
          <li><a href="../old">Old Student</a></li>
        </ul>
      </li>

      <li><a><i class="fa fa-list"></i> Departments <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="../C">Civil</a></li>
          <li><a href="../EC">Electronic Communication</a></li>
          <li><a href="../EP">Electronic Power</a></li>
          <li><a href="../MP">Mechanical Power</a></li>
          <li><a href="../IT">Information Technology</a></li>
          <li><a href="../MC">Mechatronic</a></li>
        </ul>
      </li>

      <li><a><i class="fa fa-users"></i> Student Attendance <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">Add Student Attendance</a></li>
          <li><a href="#">View Student Attendance</a></li>
        </ul>
      </li>

      <li><a><i class="fa fa-pencil"></i> Student Mark <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">Add Student Mark</a></li>
          <li><a href="#">View Student Mark</a></li>
        </ul>
      </li>

      <li><a><i class="fa fa-font"></i> Student Grading </span></a>
      </li>

      <li><a href="../logout"><i class="fa fa-sign-out"></i> Logout </span></a>
      </li>

    </ul>
  </div>

</div>
