<style media="screen">
  #btn-nav{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #0BCAB9;
    font-size: 20px;
  }
  #btn-nav:hover {
    /* background-color: magenta; */
  }

</style>

<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>


      <ul class="nav navbar-nav navbar-right">

        <li class="">
          <a href="/login">Login</a>
        </li>

        <h1 style="color: black"> <b>Student Affair System</b></h1>

      </ul>
      <div class="x_panel">

        <div class="x_content">

          <div class="btn-group">
            <button type="button" id="btn-nav"><a href="/">Home</a></button>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Registration</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/new">New Student</a></li>
            <li><a href="/admin/users/old">Old Student</a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Departments</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/C">Civil</a></li>
            <li><a href="/admin/users/EC">Electronic Communication</a></li>
            <li><a href="/admin/users/EP">Electronic Power</a></li>
            <li><a href="/admin/users/MP">Mechanical Power</a></li>
            <li><a href="/admin/users/IT">Information Technology</a></li>
            <li><a href="/admin/users/MC">Mechatronic</a></li>
            </li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Attendance</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/add_attendance">Add Student Attendance</a></li>
            <li><a href="#">View Student Attendance</a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Student Mark</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">Add Student Mark</a></li>
            <li><a href="#">View Student Mark</a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Grading</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">Add Grading</a></li>
            <li><a href="#">View Grading</a></li>
          </ul>
          </div>

          <div class="btn-group">
            <button data-toggle="dropdown" type="button" id="btn-nav"><a href="/logout">Lockout</a></button>
          </div>

        </div>
      </div>

  </div>
</div>
