<style media="screen">
button {
  background: none;
}
</style>

<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>


      <ul class="nav navbar-nav navbar-right">

        <li class="">
          <a href="/login">Login</a>
        </li>

        <h1 style="color: black">Student Affair System</h1>

      </ul>
      <div class="x_panel">

        <div class="x_content">

          <div class="btn-group">

            <button class="btn btn-success btn-lg" type="button"><a href="/" id="btn" style="color: white;"> &nbsp Home &nbsp </a></button>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-success btn-lg" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Registration <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/new">New Student</a></li>
            <li><a href="/admin/users/old">Old Student</a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-success btn-lg" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Departments <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/C">Civil</a></li>
            <li><a href="/admin/users/EC">Electronic Communication</a></li>
            <li><a href="/admin/users/EP">Electronic Power</a></li>
            <li><a href="/admin/users/MP">Mechanical Power</a></li>
            <li><a href="/admin/users/IT">Information Technology</a></li>
            <li><a href="/admin/users/MC">Mechatronic</a></li>
            </li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-success btn-lg" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Student Attendance <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/add_attendance">Add Student Attendance</a></li>
            <li><a href="#">View Student Attendance</a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-success btn-lg" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Student Mark <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <!-- <li><a href="#">Add Student Attendance</a></li>
            <li><a href="#">View Student Attendance</a></li> -->
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" class="btn btn-success btn-lg" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Grading <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <!-- <li><a href="#">Add Student Attendance</a></li>
            <li><a href="#">View Student Attendance</a></li> -->
          </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-success btn-lg" type="button"><a href="/logout" style="color: white"> &nbsp Logout &nbsp </a></button>
          </div>

        </div>
      </div>
      <script type="text/javascript">
      $( document ).ready(function() {
      $( ".js-click" ).click(function() {
        $( ".js-click" ).css('background', 'green');
      });
      });
      </script>
  </div>
</div>
