<style media="screen">
  #btn-nav{
    color: black;
    width: 170px;;
    height: 60px;
    border-radius: 5px;
    background-color: #d5b5ff;
    font-size: 20px;
  }
  a{
    color: black;
  }

</style>

<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>


      <ul class="nav navbar-nav navbar-right">



        <h1 style="color: black"> <b>Student Affairs System</b></h1>

      </ul>
      <div class="x_panel">

        <div class="x_content">

          <div class="btn-group">
            <button type="button" id="btn-nav"><a href="/home">Home</a></button>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Registration</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/new"> Register New Student</a></li>
            <li><a href="/admin/users/old"> Register Old Student</a></li>
            <li><a href="/admin/users/new_list"> New Student List</a></li>
            <li><a href="/admin/users/list"> Old Student List</a></li>
          </ul>
          </div>

          <div class="btn-group">
            <button type="button" id="btn-nav"><a href="/admin/users/department">Departments</a></button>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Attendance</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/add_attendance">Add Student Attendance</a></li>
            <li><a href="/admin/users/view_attendance">View Student Attendance</a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Exam Mark </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="/admin/users/add_exammark">Add Exam Mark </a></li>
            <li><a href="#">View Exam Mark </a></li>
          </ul>
          </div>

          <div class="btn-group">
          <button data-toggle="dropdown" type="button" id="btn-nav">Grading</button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">Add Grading</a></li>
            <li><a href="#">View Grading</a></li>
          </ul>
          </div>

        </div>
      </div>

  </div>
</div>
