<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>Student Affair | </title>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-leaf"></i> <span>Student Affair</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="x_title">
            <h5><b><a href="../">Home</a> > Student Registration > <a href="../new"> New Student </a> > <a href="#">Detail view</a> </b></h5>
            <div class="clearfix"></div>
          </div>

          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Student Details View</h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-4 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div>
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" width="150" height="150" src="images/picture.jpg" alt="Avatar" title="Student Photo">
                        </div>
                      </div>
                      <h3>Student Name</h3>

                      <!-- start skills -->
                      <h4> Year: First Year </h4><p></p>
                      <h4> NRC Number: 14/MaAaNa(N)220201 </h4><p></p>
                      <h4> Major: Information Technology </h4><p></p>
                      <h4> Roll Number: 1IT-5 </h4><p></p>
                      <h4> Birthdate: 25/8/1996 </h4><p></p>
                      <h4> Gender: Female </h4><p></p>
                      <h4> Religion: Buddish </h4><p></p>
                      <h4> Nationality: Myanmar </h4><p></p>
                      <h4> Address: Pathein </h4><p></p>
                      <h4> Phone: 011111111 </h4><p></p>

                      <!-- end of skills -->

                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h4>Father Name: ******</h4><p></p>
                          <h4>Father NRC Number: ******</h4><p></p>
                          <h4>Father Occupation: ******</h4><p></p>
                          <h4>Father Religion: *****</h4><p></p>
                          <h4>Father Nationality: ******</h4><p></p>
                          <h4>Mother Name: ******</h4><p></p>
                          <h4>Mother NRC Number: ******</h4><p></p>
                          <h4>Mother Occupation: ******</h4><p></p>
                          <h4>Mother Religion: *****</h4><p></p>
                          <h4>Mother Nationality: ******</h4><p></p>

                        </div>
                      </div>

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#h_school" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">High School Info</a>
                          </li>
                          <li role="presentation" class=""><a href="#major_choice" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Major Choice</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="h_school" aria-labelledby="home-tab">

                            <!-- start recent activity -->
                            <div>
                              <h4>High School Name: ********</h4><p></p>
                              <h4>High School Success Year: *********</h4><p></p>
                              <h4>High School Roll Number: ******</h4><p></p>
                              <h4>Department of Examiner: *****</h4><p></p>
                              <h4>High School Total Mark: ***</h4><p></p>
                              <h4>Student Subject Mark:</h4><p></p>
                              <img class="img-responsive avatar-view" width="400px" height="1000px" src="images/mark.png" alt="Avatar" title="Student Photo">
                            </div>

                            <!-- end recent activity -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="major_choice" aria-labelledby="profile-tab">

                            <h4>Choice Majors: ********, *********, *******,</h4><p></p>
                            <h4>Health Recommendation</h4><p></p>
                            <img class="img-responsive avatar-view" width="400px" height="1000px" src="images/mark.png" alt="Avatar" title="Student Photo">
                            <h4>Police Recommendation</h4><p></p>
                            <img class="img-responsive avatar-view" width="400px" height="1000px" src="images/mark.png" alt="Avatar" title="Student Photo">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include ../partial/footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>
